@import "../../../../styles/mixin.scss";

.providersLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 4rem 0;
    min-height: 50rem;
    height: 100%;

    @include custom-responsive('1200px'){
        grid-template-columns: repeat(3, 1fr);
    }

    @include custom-responsive('1000px'){
        grid-template-columns: repeat(2, 1fr);
    }

    @include custom-responsive('750px'){
        grid-template-columns: repeat(1, 1fr);
    }
}