@import "../../../../styles/mixin.scss";

.filterProvider {
    border-top: 1px solid #f2f2f2;
    
    .filterProviderLayout {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;
        margin-bottom: 1rem;
        width: 100%;
        background-color: #fff;
        justify-content: center;
    
        @include custom-responsive('1200px'){
            max-width: 100vw;
            overflow-y: hidden;
            overflow-x: scroll;
        }
    
        .categories {
            display: flex;
            align-items: center;
            gap: 4rem;

            .groupColor {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
            
            .item {
                cursor: pointer;
                padding: 1.5rem;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                gap: 1rem;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                transition: .2s;
                user-select: none;
                font-size: 1.4rem;
                color: #444;
    
                svg {
                    font-size: 3rem;
                }
                
                &.active {
                    opacity: .7;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 3rem;
                        height: 2px;
                        background-color: #111;
                    }
        
                    .icon {
                        position: absolute;
                        top: 1rem;
                        font-size: 1rem;
                        right: 1rem;
                    }
                }
                
                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}